<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/create">Create Users</a>
    </div>
    <div class="form">
        <form action="/create-user" method="post">
            <fieldset>
                <legend>Form</legend>

                <div class="input-group">
                    <label>Email: </label>
                    <input type="email" name="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        oninvalid="this.setCustomValidity('Vui lòng nhập địa chỉ email hợp lệ (ví dụ: user@example.com)')"
                        oninput="this.setCustomValidity('')">
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="myname" required>
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city" required>
                </div>
                <div>
                    <button class="btn"> Save </button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>